In [36]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import numpy as np

In [37]:
df = pd.read_csv('../z.csv', header=None)
df.describe()

                  0
count  20693.000000
mean       4.188249
std        6.709127
min        0.000000
25%        0.172488
50%        0.900507
75%        5.927840
max      172.283000